#container {
    width: 960px;
    height: 960px;
    display: flex;
    border-style: solid;
    flex-direction: column;
    
    
}

.row {
    flex: 1 1 auto;
    display: flex;
}

.box {
    border: solid;
    flex: 1 1 auto;
}