body {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 16px;
}

#container {
    width: 500px;
    height: 500px;
    display: flex;
    border-style: solid;
    flex-direction: column;
    
    
}

.row {
    flex: 1 1 auto;
    display: flex;
}

.box {
    flex: 1 1 auto;
}

.buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
